<div class="friend" id="<%= friend.id %>">

  <div class="front" id="image" >
    <%= link_to friend, class: 'pic-link' do %>
    <%= image_tag friend.avatar.url(:square)%>
    <% end %>
  </div>

  <div class="back" id="image">
      <audio controls id="audiofriend">
        <source src="<%= friend.songurl %>" type="audio/wav">
      </audio>
      <style type="text/css">
        #audiofriend{
          width: 160px;
        }
      </style> 
      <strong><%= label_tag("Enumaration:") %></strong>>
      <%= text_field_tag :"#{friend.name}", params[:"#{friend.name}"], id: "field", class: "field", name: "#{friend.name}" %>
      <style type="text/css">
        #field {
          margin-left: -30px; 
          width: 20px;
        }
      </style>
    <div class="actions">
    </div>
  </div>
</div>
