<h2>Adicione uma nova imagem: <%= link_to 'Nova Imagem', new_friend_path, class: 'new-friend' %></h2>

<section id="friends">
  <%= render @friends %>
</section>

<h3>Adicione o nome dos sons na sequência desejada para ser montada:</h3>
<%= form_tag friends_path, :method => 'get', :id => "register-form" do %>
  <p>
  	<%= label_tag("Primeira parte:") %>
    <%= text_field_tag :first, params[:first] %>
    <%= label_tag("Segunda parte:") %>
    <%= text_field_tag :second, params[:second] %>
    <%= label_tag("Terceira parte:") %>
    <%= text_field_tag :third, params[:third] %>
    <%= label_tag("Quarta parte:") %>
    <%= text_field_tag :fourth, params[:fourth] %>
    <%= submit_tag "Montar", :name => nil %>
  </p>
<% end %>
<audio id="audio" src="http://localhost/audio.wav" type="audio/wav"></audio>
<div>
  <button onclick="document.getElementById('audio').play()">Reproduzir o áudio da montagem</button>
</div>
